<VirtualHost *:80>
    ServerAdmin admin@localhost
    DocumentRoot {{ document_root }}/wordpress
    <Directory {{ document_root }}/wordpress>
        AllowOverride All
    </Directory>
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
